* {
  margin: 0px;
  padding: 0px; }

body {
  padding: 4%;
  background-color: #720a86; }

.logo {
  margin-left: 20px; }

.jumbotronmain {
  height: 100px;
  width: 100%;
  background-color: #50d671;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 30px;
  padding: 2%;
  font-family: Helvetica, sans-serif; }

.title-ppl1 {
  margin-top: 115px;
  color: #660ed8;
  font-size: 40px;
  text-align: center; }

.footer-cards {
  flex: 1 200px;
  background: #fff;
  padding: 1%;
  padding: 5px;
  display: flex;
  display: block;
  text-align: center; }

.footer-adress-icon {
  color: #660ed8; }

.container-fluid {
  margin: 4%; }

.card-pots {
  width: auto;
  flex-wrap: wrap;
  margin: 1%;
  text-align: center; }

.card-body {
  padding: 10px;
  width: 100%; }

.card-title {
  background-color: #660ed8; }

.btn-pots {
  padding-right: 10px;
  border-radius: 0px;
  width: 95%; }

.botonmodal {
  justify-content: center;
  margin: 2%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  border: 4px solid black;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  padding: 3%; }

.icon {
  margin-right: 10px; }

.box-ppl {
  margin: 1%;
  display: flex;
  padding: 1%;
  justify-content: center; }

.card-img-top {
  width: 200px;
  height: 300px; }

.imgtable {
  text-align: center; }

td {
  width: 100px; }

.carrusel {
  height: 300px;
  padding-left: 10%;
  padding-right: 10%; }

/*tabla comprariva*/
.compare {
  display: flex;
  flex-wrap: wrap; }

.productcompare1 {
  border: 4px solid #6e6d6d;
  min-width: 150px;
  width: 170px;
  padding: 4px; }

.imageprod1 {
  padding-top: 50%;
  height: 300px;
  text-align: right; }

.productcompare {
  width: 150px;
  border: 1px solid #6e6d6d;
  min-width: 300px;
  padding: 4px; }

.imageprod {
  width: 100%;
  height: 300px;
  text-align: center; }

.namepro {
  border-top: 1px solid #6e6d6d;
  height: 50px;
  background-color: #eee; }

.Qualification {
  border-top: 1px solid #6e6d6d;
  height: 50px; }

.brandpro {
  border-top: 1px solid #6e6d6d;
  height: 50px;
  background-color: #eee; }

.capacitypro {
  border-top: 1px solid #6e6d6d;
  height: 50px; }

.Dimensionepro {
  border-top: 1px solid #6e6d6d;
  height: 50px;
  background-color: #eee; }

.colorpro {
  border-top: 1px solid #6e6d6d;
  height: 50px; }

.materialpro {
  border-top: 1px solid #6e6d6d;
  height: 50px;
  background-color: #eee; }

.programapro {
  border-top: 1px solid #6e6d6d;
  height: 50px; }

.funtions {
  border-top: 1px solid #6e6d6d;
  height: 90px;
  background-color: #eee; }

.pricepro {
  margin: 4px;
  border-top: 1px solid #6e6d6d;
  height: 50px;
  padding-top: 12px; }

.producto {
  margin: 1.7%; }

.btn {
  margin: 20px; }
