<div class="container">

  <div class="introduction">
    <h1>{{olla.title}}</h1>
    
    <div>
      <img widht="400" height="400" src="{{olla.image}}">

    </div>
      <p>{{olla.description}}</p>

  </div>
      <br>
      <br>
  <div class="">
    <h2>{{olla.features.title}}</h2>
    <p>{{olla.features.description}}</p>
    <br>
          
    <ol>
      <li><strong>Capacidad: </strong><span>{{olla.features.capacity}}</span></li>
      <br>
      <li><strong>Dimensiones: </strong><span>{{olla.features.dimensions}}</span></li>
      <br>
      <li><strong>Multiusos: </strong><span>{{olla.features.multipurpose}}</span></li>
      <br>
      <li><strong>Material: </strong><span>{{olla.features.material}}</span></li>
      <br>
      <li><strong>Tiempo de retraso: </strong>{{olla.features.time}}<span></span></li>
      <br>
      <li><strong>Clear:</strong>{{olla.features.clear}}</li>
      <br>      
      <li><strong>Funcionalidades</strong>{{olla.features.typocook}}</li>
      <br>
    </ol>
  </div>
  <div class="container-flex">
    <div class="imgolla">
      <img src="{{olla.sectpro.img}}" width="300" height="300">
    </div>
    <div class=" cardssell " >
      <ul style="text-align:left;">
        <li><span>{{olla.sectpro.list.capacity}}</span></li>
        <br>
        <li><span>{{olla.sectpro.list.dimensions}}</span></li>
        <br>
        <li><span>{{olla.sectpro.list.multipurpose}}</span></li>
        <br>
        <li><span>{{olla.sectpro.list.time}}</span></li>
        <br>
        <li><p>{{olla.features.programs}}</p></li>
        
      </ul>
      <div class="wrp-btn">
        <div class="text-PRICE">
          <span style="margin:10px">{{olla.btn.price}}</span>
        </div>
        <a href="{{olla.btn.url}}">
          <button class="button button3">Ir a amazon</button>
        </a>
      </div>
    </div> 
    
    
  </div>
  <div class="features">

  
    <h2>{{olla.titleventajas}}</h2>
    <p style="purpose"><strong>Controles automáticos:</strong> {{olla.purpose.controles}}</p>
    <br>
    <p style="purpose"><strong>Revestimiento:</strong> {{olla.purpose.coating}}</p>
    <br>
    <p style="purpose"><strong>Capacidad y dimensiones:</strong> {{olla.purpose.capacity}}</p>
    <br>
    <p style="purpose"><strong>Accesorios:</strong> {{olla.purpose.accesory}}</p>
    <br>
    <p style="purpose"><strong>Nutritivo y delsicioso:</strong> {{olla.purpose.cook}}</p>
    <img widht="400" height="400" src="{{olla.purpose.img}}">
  </div>
  <div class="ofertsdeollas">
    <span >Súper ofertas</span>
    <div class="container-flex" >
        <div class="boxoffer">
          <img widht="300" height="250" src="{{olla.ofertas.image}}">
        </div>
        <div class="boxoffer1">
          <ul>
          <li ><strong>Capacidad:</strong> {{olla.ofertas.capacidad}}</li>
          <br>
          <li ><strong>Dimensiones:</strong> {{olla.ofertas.dimensiones}}</li>
          <br>
          <li ><strong>Revestimiento:</strong> {{olla.ofertas.revestimiento}}</li>
          <br>
          <li ><strong>Programas:</strong> {{olla.ofertas.programas}}</li>
          <br>
          <li ><strong>Accesorios:</strong> {{olla.ofertas.accesorios}}</li>
          <br>
          <li ><strong>Funcioalidades:</strong> {{olla.ofertas.funcionalidades}}</li>
          <br>
          <li><strong>Algunas recetas</strong> {{olla.ofertas.funcionalidades}}</li>
          </ul>
        </div>
    </div>
    <div class="boton">
      <div class="wrp-btn">
        <div class="text-PRICE">
          <span style="margin:10px">Precio</span>
        </div>
        <a href="{{olla.ofertas.sitioweb}}">
          <button class="button button3">Ir a amazon</button>
        </a>
      </div>

    </div>
  
  </div>
</div>
