
.boxesmain{
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	background: prefix-linear-gradient(top, blue, white);
}
.card-pots{
    flex:1;
	display: flex;
	flex-wrap: wrap;
	padding: 1%;
	border: 2px solid red;
	margin:1%;
	height:530px;
}
.boxoffer01{
   flex: 1 100%;
   padding:2px;
   height:8%;
   text-align: right; 
}
.boximage{   
   flex: 1 300px;
   padding:10px;
   height:60%;
   text-align: center;   
}
.boxdescription{
	flex: 1 600px;
	padding:10px;
	height:22%;
	margin-top:3%;
	margin-bottom: 3%;
	background:yellow;
 }

.btn1{
	flex:100%;
	text-align: right;
	height:10%;
}
.catalogs{
	flex-wrap: wrap;	
	border: 2px solid red;
	margin:1%;
	width:95%;
}
.boxtitle{
	flex: 1;
	flex:100%;
	text-align:right;
	height:10%;
	background:red;
	font-size: 20px;
}
.boxesimage1{
	display:inline-flex;
	flex: 1 auto;
	background:blue;
	min-width:200px;
	height:auto;
	text-align: center;
}
.boximage{
	min-height:300px;
	width:300px;
	
}
.boxesdescription{
	display: inline-flex;
	flex: 1 600px;
	background:green;
	min-height:auto;
	padding: 1%;
	
}
.boxesprice{
	flex:100%;
	text-align: right;
	background: violet;
}
li{
	font-size: 20px;
}
.imgfeatures{
	display: inline-flex;
	flex-wrap: wrap;
	min-height: 300px;
}

