*{
 margin:0px;
 background:;
}
.logo{
	margin-left:20px;
}
.jumbotron{
	height:300px;
	width:100%;
	background-color:yellow;
	background-image: url(imagenes/aroma-housewares-arc-50sb-olla-arroz-digital-removebg.png);
}
.title-ppl1{
	margin-top:115px;
	color:red;
	font-size:40px;
	text-align:center;

}
li:hover{
	color:white;
}
body{

}

h2{
	font-size:20px;
	text-align:center;

}
a{
text-decoration:none;
color:#FFF;
}
a:hover 
{
color:#FFF; 
text-decoration:none; 
cursor:pointer;  
}
.container-fluid{
	text-align:center;
}
.row{
	background:;
	width:100%;
}
.boxpl{
	background:red;
	padding:0px;
	width:100%;
}

.boxes{
	background-color:pink;
	box-shadow:40px;
	height: 380px;	
	min-height:00px;	
	display:;
	border-radius:10px;
	padding:10px;
	border-color:red solid 4px;	
	margin-top:20px;
}
.boxes:hover{
	background:yellow;
	box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.boxes2{
	background:green;
	height: 370px;	
	max-height:1000px;
	min-width:30%;
	margin:0%;
	border-radius:10px;
	padding:10px;
	margin-top:20px;

}
.boxes2:hover{
	background:purple;
	box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

/*DISTIRBUCIÓN DE CONTENITOD DE LAS CAJAS O BOXES*/
p{
	font-size:20px;
}
.title-ppl{
	text-align:center;
	font-size:40px;
	font-weight: bold;
}
.title-service{
	height:115px;
	max-height:480px;	
	margin-bottom:2%;
	text-align:center;
	background:none;
	padding:3px;

}
.title-service23{
	background: !important;
	border:4px solid #eee;
	padding:3px;
}
.text-description{
	height: 160px;
	max-height: 350px;
	margin-bottom:2%;
}
.text-PRICE{
	height: 20px;
	max-height: 20px;
	margin-bottom:2%;
}
/*Botones*/
.wrp-btn2{
	width:100%;
	text-align:center;	

}
.button {
  background-color:#F8460C ; /* Green */
  border-radius:10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  
}
.button:hover{
	background-color:#FE8F6A;

	box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);

}
.button3 {font-size: 16px;
	border-radius:5px; 
	background:blue;
	margin:5px;
	height:60px;
	text-align:center;

}

footer{
	background-color:#FE8F6A;
	padding:1% 1% 1% 2%;
	margin-top:20px;
}
.footer-cards{
	flex: 1 200px;
	background:#fff;
	padding:1%;
	padding:5px;
	display: flex;
	
	display: block;
	text-align: center;

}

/*CARTAS DE SERVICIOS*/
.cards{
	flex: 1 200px;
	background:#fff;
	padding:5px;
	border: #eee solid 2px;
	display: flex;
	padding:1%;
	display: block;
text-align: center;
} 
/*pruebas 1*/
.cardssell{
	flex: 1 90px;
	background:#fff;
	display: flex;
	padding:1%;
	display: block;
	text-align: center;
}

.boxes1234{
	flex-wrap:wrap;
	margin-top:20px;
} 

.cajas{
   border: #eee solid 2px;
   flex: 2 300px;
   padding:10px;
   height:180px;
   justify-content:space-between;
}
.btn{
 
   width:80%;
   left:0;
   bottom:;
}

/*Estilo de cuadros para proyecto ollas arroceras*/
.title{
	background-color:green;
	width:130px;
	position:right;
    float:right;
	text-align:right;
	padding:5px;
	border-radius:0px 0px 0px 20px;
}
.cajas0{
   border: #eee solid 2px;
   flex: 1 100%;
   height:50px;
  
}
.cajas1{
   border: #eee solid 2px;
   flex: 1 200px;
   padding:10px;
   height:220px;
}
.cajas2{
	border: #eee solid 2px;
   flex: 1 400px;
   padding:10px;
   height:220px;

}
.cajas3{
	border: #BDB6B5 solid 1px;
   flex: 1 100%;
   padding:10px;
   height:180px;
   text-align:right;

}
.btn1{
	position:right;
	border-radius:10px;
	height:50px;
	width:250px;

}
.span{
	display:inline-block;
	
	text-align:right;
	width:80%;  
   left:0;
}